<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.calflora.observer"
    android:versionCode="39"
    android:versionName=".6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="org.calflora.observer.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="org.calflora.observer.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="net.winterroot.WildflowersOfDetroit"
        android:allowBackup="true"
        android:icon="icon.png"
        android:label="Wildflowers of Detroit"
        android:logo="icon.png"
        android:theme="@style/Theme.Workspace" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAlu0reGu9zqOh-I0fuvzfREuv9DJ8QzLo" />

        <service
            android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService"
            android:exported="false" />
        <service
            android:name="org.calflora.observer.service.UploaderService"
            android:exported="false" />

        <activity
            android:name="org.calflora.observer.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- android:noHistory="true" -->
        <activity
            android:name="org.calflora.observer.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.OrganizationsActivity"
            android:label="@string/title_activity_organizations"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.ORGANIZATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.PROJECTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.DASHBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.WorkspaceActivity"
            android:label="@string/title_activity_workspace"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Workspace" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.WORKSPACE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.ObservationActivity"
            android:label="@string/title_activity_observation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Workspace.ActionSheet" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.EDITOBSERVATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.calflora.observer.action.NEWOBSERVATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.PlantSelectorActivity"
            android:label="@string/title_activity_plant_selector"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.PLANTSELECTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.experimental.CapturePhotoActivity"
            android:label="@string/title_activity_capture_photo"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.CAPTUREPHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.HELP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.SPLASH_THEN_PROJECTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.calflora.observer.action.SPLASH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.calflora.observer.DownloadProjectAssetsActivity"
            android:label="@string/title_activity_download_project_assets"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.calflora.observer.action.DOWNLOAD_PROJECT_ASSETS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="org.calflora.observer.provider.FormsProvider"
            android:authorities="org.calflora.observer.provider.forms"
            android:exported="false" />
        <!-- <provider android:authorities="org.calflora.observer.provider.instances" android:exported="false" android:name="org.calflora.observer.provider.InstanceProvider"/> -->
        <activity
            android:name="net.winterroot.rhus.activity.RhusActivity"
            android:label="Rhus"
            android:noHistory="true"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
    </application>

</manifest>